<% topic = topic_show_path? ? @topic : topic %>

<!-- ------------------------------------------------- -->

<%= brgen_form_for @post, url: main_app.new_reply_path(topic, params[:replies], reply_to_id: params[:reply_to_id], reply_type: params[:reply_type]), html: { data: { topic: topic.id, ajax: false }, class: nil}, defaults: { wrapper_html: { class: "text" }, hint: false } do |f| %>

<!-- TODO: Make sure Simple Form supports removal of `class: nil` -->

<%#= brgen_form_for @post, url: main_app.new_reply_path(topic, params[:replies], reply_to_id: params[:reply_to_id], reply_type: params[:reply_type]), html: { data: { topic: topic.id, ajax: false }}, defaults: { wrapper_html: { class: "text" }, hint: false } do |f| %>
  <%= render partial: "forem/posts/form", locals: { f: f, reply_form: true } %>

  <!-- ------------------------------------------------- -->

  <div class="triggers">
    <%= render partial: "photos/photo_file_field" %>
    <%= f.submit t(:submit), class: "#{ "button primary large" if mobile? }" %>
  </div>
<% end %>

