<p class="ad_notice"><%= t :ad %></p>

<!-- ------------------------------------------------- -->

<div class="affiliate_products_banner">
  <% unless mobile? %>
    <a href="#affiliate_products_jqm_popup" class="launch_jqm_popup" data-rel="popup" data-transition="pop" data-position-to="window" style="display: none;"><!-- Launch popup --></a>
  <% end %>

  <!-- ------------------------------------------------- -->

  <div class="logo_template" style="display: none;">
    <div class="logo product">
      <%= image_tag "logo.png" %>
    </div>
  </div>

  <!-- ------------------------------------------------- -->

  <div class="slides">
    <div class="slide">
      <%= image_tag "banner_slide_1.png" %>
    </div>
    <div class="slide">
      <%= image_tag "banner_slide_2.png" %>
    </div>
  </div>

  <!-- ------------------------------------------------- -->

  <div class="products layer" data-depth="1.00">

    <!-- Filled via `routes.rb` => `affiliate_products_controller.rb` => `polling.js` -->

  </div>
</div> 

