<div id="main">
  <div id="photo_container">
    <img id="preview_photo" />
    <div id="crop_photo">
      <canvas id="edited_photo">

        <!-- Filled by photo editor -->

      </canvas>
    </div>
  </div>
  <div id="effects">

    <!-- Filled by photo editor -->

  </div>
</div>

<!-- ------------------------------------------------- -->

<div class="triggers">
  <a id="skip" class="<%= "button large" if mobile? %>"><%= t :skip %></a>
  <a id="apply_effects" class="button primary<%= " large" if mobile? %>"><%= t :continue %></a>
</div>

