<footer>
  <div class="references">
    <a href="https://rubyonrails.org/" class="ror" target="_blank">Ruby On Rails</a>
    <a href="https://puma.io/" class="puma" target="_blank">Puma</a>
    <a href="https://nuug.no/" class="nuug" target="_blank">NUUG</a>
    <a href="https://www.bergen.kommune.no/" class="bergen" target="_blank">City of Bergen</a>
  </div>
  <p class="copyright">&copy; <%= Date.today.year %> <span><a href="#">brgen.no</a></span>.</p>
  <!--<p>Updated <%#= time_ago_in_words Port.last.updated_at %> ago.</p>-->
  <% if cookies[:theme] == "dark_mode" %>
    <%= link_to t("light_mode"), root_path(theme: "light_mode"), class: "light_mode_link" %>
  <% else %>
    <%= link_to t("dark_mode"), root_path(theme: "dark_mode"), class: "dark_mode_link" %>
  <% end %>
</footer>

