
<!-- Mobile only -->

<% page_title t(:edit_topic) %>

<!-- ------------------------------------------------- -->

<div data-iscroll>
  <header data-role="header">

    <!-- Wrapper to prevent jQuery Mobile from adding CSS to elements -->

    <!-- TODO: Remove come v1.5: GH #7230 -->

    <div class="jqm_prevent_class_injection">
      <a class="back_trigger" data-rel="back"><%= t :back %></a>

      <!-- ------------------------------------------------- -->

      <h2><%= t :edit_topic %></h2>

      <!-- ------------------------------------------------- -->

      <div class="progress_wrapper">

        <!-- Filled by NProgress -->

      </div>
    </div>
  </header>

  <!-- ------------------------------------------------- -->

  <div data-role="content">
    <%= render "form" %>
  </div>
</div>  

