<div class="new_topic">
  <div class="new_topic_trigger">
    <label><%= t :post_anonymously %>...</label>
  </div>

  <!-- ------------------------------------------------- -->

  <div class="new_topic_expanded" style="display: none;">
    <%= render :partial => "forem/topics/form" %>
  </div>
</div>

