<div class="overflow_panel_wrapper">
  <a class="overflow_panel_trigger"><%= t :menu %></a>

  <!-- ------------------------------------------------- -->

  <div class="overflow_panel panel">
  </div>
</div> 

