<% if mobile? %>
  <div data-iscroll>
    <header data-role="header">

      <!-- Wrapper to prevent jQuery Mobile from adding CSS to elements -->

      <!-- TODO: Remove come v1.5: GH #7230 -->

      <div class="jqm_prevent_class_injection">
        <a class="back_trigger" data-rel="back"><%= t :back %></a>
        <h2><%= t :apply_effects %></h2>
      </div>

      <!-- ------------------------------------------------- -->

      <div class="progress_wrapper">

        <!-- Filled by NProgress -->

      </div>
    </header>
    <div data-role="content">
      <%= render partial: "photos/photo_editor" %>
    </div>
  </div>
<% else %>
  <%= render partial: "photos/photo_editor" %>
<% end %>

