<a class="button primary large facebook" data-ajax="false" href="/auth/facebook"><%= t :sign_in_with_facebook %></a>

<a class="button primary large google" data-ajax="false" href="<%#= main_app.user_omniauth_authorize_path(:google_oauth2) %>"><%= t :sign_in_with_google %></a>

<a class="button primary large instagram" data-ajax="false" href="<%#= main_app.user_omniauth_authorize_path(:google_oauth2) %>"><%= t :sign_in_with_instagram %></a>

