<div class="intro">
  <%= image_tag "intro.png" %>

  <!-- ------------------------------------------------- -->

  <!--<h2><%#= t :bergens_social_network_for_web_and_mobile %></h2>-->

  <!-- ------------------------------------------------- -->

  <%# if !mobile? %>
    <!--<h3><%#= translate_with_link(:tagline_with_read_more, read_more: "/intro", target: "_blank") %></h3>-->
    <%#= feed_link("new", "regular", t(:go_to_main_page), class: "button primary large", target: "#{ '_blank' if !mobile? }") %>
  <%# else %>
    <!--<h3><%#= t :tagline %></h3>-->
  <%# end %>
</div>

