
<!-- RDFa Lite 1.1: http://schema.org/SiteNavigationElement -->

<nav vocab="http://schema.org/" typeof="SiteNavigationElement">
  <% @categories.each do |category| %>
    <%= nav_generator_desktop(category) %>
  <% end %>

  <!-- ------------------------------------------------- -->

  <div class="help">

    <!-- RDFa Lite 1.1: http://schema.org/url -->

    <%= link_to t(:intro), main_app.intro_path, { property: "url", target: "_blank" } %>
    <%= link_to t(:help), main_app.safety_path, { property: "url", target: "_blank" } %>

    <!-- ------------------------------------------------- -->

    <a href="/generelt/gi-oss-tilbakemelding" property="url" target="_blank"><%= t :send_feedback %></a>
  </div>
</nav>
  

